@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
	display: block;
	margin: 0;
	background-color: #F7F3F7;
}

h2, h4{
	font-family: Century;
	text-align: center;
	color: #392f81;
}

.navbar img{
    padding: 0 15px 0 0px;
	width: 100px;
}

h3{
	line-height: 0px;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: italic;
	font-family: Kanit;
	text-align: center;
	color: #000000;
}

.navbar{
	position: sticky;
	top: 0;
	box-shadow: 0px 0px 3px 0px black;
	padding: 10px 0px 10px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
	background-color: #FFFFFF;
	margin: 0px;
}

.pad{
    width: 279px;
}

.links{
    display: flex;
    justify-content: left;
}

.links .active{
    color: #FE1001;
}

.links a:hover{
    color: #FE1001;
}

.links a{
    text-decoration: none;
    font-family: Kanit;
    font-size: 1.2rem;
    color: #000000;
    padding: 0 10px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 5px 20px;
}

.main-container{
	flex-direction: column;
	justify-content: center;
    align-items: center;
	display: flex;
	background-color: transparent;
    width: 100%;
	margin: 60px 0px;
}

.man-cont{
	background-color: white;
    /* box-shadow: inset 0px 0px 7px black; */
    width: 550px;
    padding: 50px 50px;
}

.title{
    font-family: Kanit;
    font-size: 1.3rem;
}

.mtitle{
    font-family: Kanit;
    font-size: 4.3rem;   
    line-height: 55px;
    color: #FE1001;
    text-align: center;
    margin: 40px 0 20px 0;
}

.content{
    font-family: Kanit;
    text-align: justify;
    font-size: 1rem;
    line-height: 18px;
    text-align: #1B1A1A;
    font-weight: 400;
}

.end{
    font-family: Kanit;
    color: #FE1001;
    font-size: 1rem;
    text-align: right;
	font-style: italic;
}

.footer{
	padding: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #FFFEFE;
	border-top: 1px solid lightgrey;
	margin: 0px;
}

.logo{
	padding: 5px;
	border-radius: 10px;
	background-color: #FFFEFE;
	width: 220px;
	margin: 0px 10px 0px 110px;
}

.footer-info{
	border-radius: 5px;
	padding: 0px 10px 10px 15px;
	background-color: #FFFEFE;
	font-family: Montserrat;
	width: 700px;
	margin: 0px 110px 0px 10px;
}

.health{
	margin-top: 10px;
	font-family: Kanit;
	text-decoration: none;
	color: #FE1001;
}

.health:hover{
	color: #1B1A1A;	
}

.footer-info a{
	font-family: Kanit;
	text-decoration: none;
	color: #FE1001;
}